h1 {
	text-align:center;
	color: white;
	font-family: 'Bowlby One SC', cursive; 
}

#body_interior_cuenta {
	background-color: white;
}

body{
	background-color: #000066;
}
#cajalog{
	text-align: center;
	color: #06002E;
	font-size: 17;
	background-color: #990099;
	width: 20%;
	margin: 10px auto 15px auto;
	border-radius: 10px;
	padding: 5px;
	border: 0.5em solid black;
}

#cajareg{
	text-align: right;
	color: #06002E;
	font-size: 17;
	background-color: #990099;
	width: 25%;
	margin: 10px auto 15px auto;
	border-radius: 10px;
	padding: 5px;
	border: 0.5em solid black;
}

#cajaAct{

  background: #3b5998;
  border-radius: 3px;
  border: 1px solid #2b4479;
  border: 1px solid #2d4373;
  -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  width: 30%;
  margin: 10px auto 15px auto;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid #0066FF;
}

.ficha {
	
  background: #3b5998;
  border-radius: 3px;
  border: 1px solid #2b4479;
  border: 1px solid #2d4373;
  -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  width: 30%;
  margin: 10px auto 15px auto;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid #0066FF;
}

.texto_ficha {
	color: white;
}


#centrado {
	text-align: center;
}

#registro {
	float: right;
	color: #06002E;
	font-size: 14;
	background-color: #990099;
	width: 20em;
	border: 0.5em solid black;
	border-radius: 1em;
}

#texto_registro {
	text-align: center;
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 20;
}

#enlace{
	font-size: 16;
	color: white;
}

#logo {
	height: 12em;
	width: 12em;
	display: block;
	margin: auto;
}

#formulario_login {
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 20;
	color: black;
}

#fuente_pie {
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 15;
	color: white;
}

#fuente_pie_comun {
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 15;
	color: black;
}

#saludo {
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 18;
	color: black;
}

#primer_bloque {
	float: left;
	margin-left: 33em;
}

#segundo_bloque {
	float: left;
	margin-left: 5em;
}

#tercer_bloque {
	float: left;
	margin-left: 5em;
}

#cuarto_bloque {
	float: left;
	margin-left: 5em;
}

#bloque_central {
	text-align: center;
}

#mensaje_error {
	text-align: center;
	color: red;
}

#enlace_registro {
	color: red;
}

.derecha {
	float: right;
}

#avatar {
	float: left;
}

#primera_accion {
	float: left;
	margin-left: 5em;
}

#segunda_accion {
	float: left;
	margin-left: 5em;
}

#tercera_accion {
	float: left;
	margin-left: 5em;
}

#cuarta_accion {
	float: left;
	margin-left: 5em;
}

.pie {
	width: 100%;
	margin: 0 auto;
	margin-bottom: -10em;
	position: fixed;
}

.bloque_centrado {
	float: left;
	margin-left: 25em;
	position: absolute;
	bottom: 0.5em;
}

.bloque_centrado_arriba {
	float: left;
	margin-left: 25em;
	position: absolute;
}

.bloque_busqueda {
	border-radius: 10px;
	padding: 5px;
	border: 0.5em solid black;
	width: 40em;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------CSS DEL MENÚ-----------------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:500);
/* 2f4b87 */
/* 2f4b87 */
/* #1f325d */
/* Menu CSS */#cssmenu {
  width: auto;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cssmenu ul {
  background: #3b5998;
  border-radius: 3px;
  border: 1px solid #2b4479;
  border: 1px solid #2d4373;
  -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
#cssmenu ul > li {
  float: left;
  list-style: none;
}
#cssmenu ul > li > a {
  display: block;
  text-decoration: none;
  padding: 15px 44px;
  position: relative;
}
#cssmenu ul > li > a:hover {
  background: #2d4373;
  -webkit-box-shadow: inset 0 0 1px #1e2e4f;
  -o-box-shadow: inset 0 0 1px #1e2e4f;
  -moz-box-shadow: inset 0 0 1px #1e2e4f;
  -ms-box-shadow: inset 0 0 1px #1e2e4f;
  box-shadow: inset 0 0 1px #1e2e4f;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
#cssmenu ul > li > a:hover:before {
  content: '';
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  opacity: .2;
}
#cssmenu ul > li > a:hover:after {
  content: '';
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  opacity: .2;
}
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
#cssmenu > ul > li > ul {
  width: 200px;
  position: absolute;
}
#cssmenu > ul > li > ul > li {
  float: none;
  position: relative;
}
#cssmenu > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#cssmenu > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
#cssmenu > ul > li > ul > li > ul {
  left: 200px;
  top: 1px;
  width: 200px;
}
#cssmenu > ul > li > ul > li > ul > li {
  float: none;
}
