h1 {
	text-align:center;
	color: white;
	font-family: 'Bowlby One SC', cursive; 
}
body{
	background-color: #000066;
}
#cajalog{
	text-align: center;
	color: #06002E;
	font-size: 17;
	background-color: #990099;
	width: 20%;
	margin: 10px auto 15px auto;
	border-radius: 10px;
	padding: 5px;
	border: 0.5em solid black;
}

#registro {
	float: right;
	color: #06002E;
	font-size: 14;
	background-color: #990099;
	width: 20em;
	border: 0.5em solid black;
	border-radius: 1em;
}

#texto_registro {
	text-align: center;
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 20;
}

#enlace{
	font-size: 16;
	color: white;
}

#logo {
	height: 12em;
	width: 12em;
	display: block;
	margin: auto;
}

#formulario_login {
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 20;
	color: black;
}